/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  z-index: 10;
}

.navbar ul {
  list-style: none;
  display: inline-flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 4rem;
}

.navbar ul a {
  font-family: "Barlow", sans-serif;
  color: white;
}

.navbar ul .navbar-contact {
  font-family: "Fraunces", sans-serif;
  color: #23303e;
  background-color: white;
  padding: 1.5rem 3rem;
  border-radius: 6rem;
  font-size: 2rem;
}

.navbar ul .navbar-contact:hover {
  background-color: cyan;
  color: white;
}

@media (max-width: 375px) {
  .navbar ul {
    display: none;
  }
}

.header {
  position: relative;
}

.header-textarrow {
  position: absolute;
  z-index: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  width: max-content;
}

.header-textarrow-text {
  font-family: "Fraunces", sans-serif;
  font-size: 5.5rem;
  font-weight: 900;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 375px) {
  .header-textarrow {
    width: auto;
    transform: translate(-50%, -55%);
    gap: 5rem;
  }
  .header-textarrow-text {
    font-size: 4rem;
    text-align: center;
  }
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.services-block {
  height: max-content;
  width: 100%;
}

.services-block-image img {
  width: 100%;
}

.services-block-title {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.2;
}

.services-block-text {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #818498;
}

.services-block-link {
  width: fit-content;
  position: relative;
}

.services-block-link-text {
  position: relative;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  z-index: 10;
}

.services-block-link-line {
  position: absolute;
  width: 110%;
  top: 20%;
  transform: translateX(-5%);
  border-radius: 5rem;
  opacity: 0.5;
  z-index: 5;
}

.services-block-link .yellowbottom {
  background-color: #fad400;
  border: solid 4.5px #fad400;
}

.services-block-link .pinkbottom {
  background-color: #fe7867;
  border: solid 4.5px #fe7867;
}

.services-block-paragraph {
  position: absolute;
  text-align: center;
  width: 28%;
  transform: translate(35%, -150%);
}

.services-block-paragraph .paragraph-title {
  font-size: 3rem;
  padding-bottom: 3rem;
  color: #23303e;
  opacity: 0.8;
}

.services-block-paragraph .paragraph-text {
  color: #23303e;
  opacity: 0.8;
}

.services .fulltext {
  padding: 2%;
  width: 80%;
  margin: 20% 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3.5rem;
}

@media (max-width: 375px) {
  .services {
    grid-template-columns: 1fr;
  }
  .services .grid-order-1 {
    order: 1;
  }
  .services .grid-order-2 {
    order: 2;
  }
  .services .grid-order-3 {
    order: 3;
  }
  .services .grid-order-4 {
    order: 4;
  }
  .services .grid-order-5 {
    order: 5;
  }
  .services .grid-order-6 {
    order: 6;
  }
  .services-block-paragraph {
    position: absolute;
    text-align: center;
    width: 90%;
    transform: translate(5%, -150%);
  }
  .services-block-paragraph .paragraph-title {
    font-size: 3rem;
    padding-bottom: 3rem;
    color: #23303e;
    opacity: 0.8;
  }
  .services-block-paragraph .paragraph-text {
    font-size: 1.6rem;
    font-weight: 700;
    color: #23303e;
    opacity: 0.9;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20rem 0;
  gap: 9rem;
}

.testimonials-title {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: #a7abae;
  text-transform: uppercase;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  margin: 0 10%;
}

.testimonials-grid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 7rem;
  text-align: center;
}

.testimonials-grid-section-image {
  border-radius: 50%;
  width: 20%;
}

.testimonials-grid-section-text {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #5a636c;
}

.testimonials-grid-section-name {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
}

.testimonials-grid-section-job {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #a7abae;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  max-width: 100vw;
}

main {
  position: relative;
  background-color: rgba(254, 120, 103, 0.025);
}

img:not(.auto-width) {
  width: 100%;
}
