.footer {
  background-color: $lightModerateCyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;

  &-logo {
    width: 13%;
    filter: invert(49%) sepia(36%) saturate(462%) hue-rotate(118deg) brightness(91%) contrast(92%);
  }

  &-list{
      display: flex;
      gap: 6rem;
      margin: 5rem 0;
      &-item{
          &-link{
            font-family: "Barlow", sans-serif;
            font-size: 1.8rem;
            font-weight: 900;
            color: $darkModerateCyan;
            text-decoration: none;
          }
        
      }
  }

  &-contactlist{
    display: flex;
    gap: 3rem;
  }
}

@media (max-width: 450px) {
    .footer{
        padding: 6rem;
        &-logo{
            width: 70%;
        }

        &-list{
            padding: 0;
            gap: 5rem;
        }

        &-contactlist{
            padding: 0;
        }
    }
}
