.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  z-index: 10;
  
  & ul {
    list-style: none;
    display: inline-flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 4rem;

    & a {
      font-family: "Barlow", sans-serif;
      color: $white;
    }

    .navbar-contact {
      font-family: "Fraunces", sans-serif;
      color: $veryDarkDesaturatedCyan;
      background-color: $white;
      padding: 1.5rem 3rem;
      border-radius: 6rem;
      font-size: 2rem;

      &:hover {
        background-color: cyan;
        color: $white;
      }
    }
  }
}

@media (max-width: 375px){
    .navbar{
        & ul{
            display: none;
        }
    }
}