.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &-block {
    height: max-content;
    width: 100%;

    &-image {
        img{
            width: 100%;

        }
    }
    &-title {
      font-family: "Fraunces", sans-serif;
      font-weight: 900;
      font-size: 4rem;
      line-height: 1.2;
    }

    &-text {
      font-family: "Barlow", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      color: $darkGreyishBlue;
    }

    &-link {
      width: fit-content;
      position: relative;

      &-text {
        position: relative;
        font-family: "Fraunces", sans-serif;
        font-weight: 900;
        font-size: 1.5rem;
        text-transform: uppercase;
        z-index: 10;
      }

      &-line {
        position: absolute;
        width: 110%;
        top: 20%;
        transform: translateX(-5%);
        border-radius: 5rem;
        opacity: 0.5;
        z-index: 5;
      }

      .yellowbottom {
        background-color: $yellow;
        border: solid 4.5px $yellow;
      }

      .pinkbottom {
        background-color: $softRed;
        border: solid 4.5px $softRed;
      }
    }

    &-paragraph {
        position: absolute;
        text-align: center;
        width: 28%;
        transform: translate(35%, -150%);

      .paragraph-title {
        font-size: 3rem;
        padding-bottom: 3rem;
        color: $veryDarkDesaturatedCyan;
        opacity: 0.8;
      }

      .paragraph-text {
        color: $veryDarkDesaturatedCyan;
        opacity: 0.8;
      }
    }
  }

  & .fulltext {
    padding: 2%;
    width: 80%;
    margin: 20% 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3.5rem;
  }
}

@media (max-width: 375px) {
  .services {
    grid-template-columns: 1fr;

    .grid-order-1{
        order: 1;
    }
    .grid-order-2{
        order: 2;
    }
    .grid-order-3{
        order: 3;
    }
    .grid-order-4{
        order: 4;
    }
    .grid-order-5{
        order: 5;
    }
    .grid-order-6{
        order: 6;
    }

    &-block-paragraph {
        position: absolute;
        text-align: center;
        width: 90%;
        transform: translate(5%, -150%);

      .paragraph-title {
        font-size: 3rem;
        padding-bottom: 3rem;
        color: $veryDarkDesaturatedCyan;
        opacity: 0.8;
      }

      .paragraph-text {
        font-size: 1.6rem;
        font-weight: 700;
        color: $veryDarkDesaturatedCyan;
        opacity: 0.9;
      }
    }
  }

}
