.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20rem 0;
  gap: 9rem;

  &-title {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: $greyishBlue;
    text-transform: uppercase;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    margin: 0 10%;

    &-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 7rem;
      text-align: center;
      
      &-image {
        border-radius: 50%;
        width: 20%;
      }

      &-text {
        font-family: "Barlow", sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        color: $veryDarkGreyishBlue;
      }

      &-name {
        font-family: "Fraunces", sans-serif;
        font-weight: 900;
        font-size: 1.8rem;
      }
      &-job{
        font-family: "Barlow", sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: $greyishBlue;
      }
    }
  }
}

@media (max-width: 375px){
    .testimonials{
        padding: 6rem 0 9rem 0;
        gap: 6rem;
        &-title{
            font-size: 1.6rem;
        }
       &-grid{
        grid-template-columns: 1fr;
        gap: 7rem;
        &-section{
            gap: 3.5rem;

            &-image{
                width: 25%;
            }

            &-text {
                font-weight: 800;
                font-size: 1.75rem;
                line-height: 1.5;
              }
        }
       }
    }
}