
// colors

//primary
$verySoftRed: hsla(7, 99%, 70%, 0.025);
$softRed: hsl(7, 99%, 70%);
$yellow : hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%); //graphic design text
$darBlue: hsl(198, 62%, 26%); //photography text
$darkModerateCyan: hsl(168, 34%, 41%); //footer text
$lightModerateCyan: hsl(167, 44%, 70%); //footer bg


//neutral
$veryDarkDesaturatedCyan: hsl(212, 27%, 19%);
$veryDarkGreyishBlue: hsl(213, 9%, 39%);
$darkGreyishBlue: hsl(232, 10%, 55%);
$greyishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);