@import "reset";
@import "variables";
@import "navbar";
@import "header";
@import "services";
@import "testimonials";
@import "gallery";
@import "footer";




html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    max-width: 100vw;
}

main{
    position: relative;
    background-color: $verySoftRed;
}

img:not(.auto-width){
width: 100%;
}

ul{
    list-style: none;
}