@import "reset";
@import "variables";
@import "navbar";
@import "header";
@import "services";



html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    max-width: 100vw;
}

main{
    position: relative;
    
}